header{
    width: 100%;
    height: auto;
    background-color: #660000;
    color: white;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 0;
    margin: 0;
}
#logo{
    width: auto;
    height: 100px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: row;
}
.menu li {
    list-style: none;
}
.menu li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px 24px;
    font-size: 16px;
}
.menu li a:hover{
    background-color: #CCCCCC;
    color: #660000;
}
.content{
    background-image: url('zdjecie.png');
    color: black;
    height: auto;
    width: 100%;
    padding: 15px;
}
.table{
    opacity: 0.8;
    text-align: center;
}
.table thead{
    background-color: #CCCCCC;
}
.table tbody{
    background-color: #D8D8D8;
    color: black;
}
.btn{
    background-color: #660000;
    color:white;
}
.btn:hover{
    background-color: #FF0000;
    color: #e6e6e6;
}
dl{
    background-color: #e6e6e6;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
}
footer{
    background-color: #660000;
    color: white;
    height: 80px;
    width: 100%;
    padding: 10px;
    text-align: center;
}